{% extends 'query_tool/base.html' %}

{% block content %}
<h1>{{ title }}</h1><br>

<form method="post" enctype="multipart/form-data" lang="en" class="add">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
        {% if f.label == 'URL' %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: * (The way you want to represent your page, example: .../.../URL)</label>{{ f }}</p>
        {% else %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: * </label>{{ f }}</p>
        {% endif %}
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit" class="form-button">Commit</button>
</form>
{% endblock %}