{% extends 'query_tool/base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                {% for h in headers %}
                    <th>{{ h.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in baits %}
                <tr>
                    <td>{{ row.fish_set.all|join:", "}}</td>
                    <td>{{ row.id }}</td>
                    <td>{{ row }}</td>
                    <td>{{ row.slug }}</td>
                    <td>{{ row.price }}</td>
                    <td><a href="/delete?id={{row.id}}&table=baits">delete</a></td>
                    <td><a href="/edit?id={{row.id}}&table=baits">edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}