{% extends 'query_tool/base.html' %}

{% block content %}
    <form method="post" action="{% url 'edit_record' row.id %}" class="add">
        {% csrf_token %}
        Name:<br>
        <input name="name" type="text" value="{{ row.name }}" class="form-label">
        Slug:<br>
        <input name="slug" type="text" value="{{ row.slug }}" class="form-label">
        Price:<br>
        <input name="price" type="number" step="any" min="0.1" value="{{ row.price }}" class="form-label">

      <input name="table_name" type="hidden" value="baits">
      <button type="submit" class="form-button">Update</button>
    </form>
{% endblock %}